<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link href= "./stylesheets/style.css" rel="stylesheet" type="text/css" />
  <style>
    body {font-family: Georgia, serif}
    .mySlides {display: none}
    </style>
</head>
<body>
  <div>

    <h1>Name: <%= userName %></h1>
    <h1>Age: <%= age %></h1>
  </div>
  <br/>
  <hr/>
</body>
</html>
