<!DOCTYPE html>
<html>
<head>
  <title>Order</title>
  <meta charset="UTF=8" />
  <link href= "./stylesheets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div>
<h1>Orders here!</h1>
</div>
</body>
</html>

